.search-page {
    .search-container {
        max-width: 600px;
        margin: auto;
        padding: 20px;
        .vue-treeselect, .form-control {
            margin-bottom: 15px;
        }
    }
}